.sec-login {
  .sec-photo_fullscreen {
    position: absolute;
    background-image: url("../img/slide1.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    background-position: inherit;
    overflow: hidden;
    padding: 0;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
    @include minw(md) {
      // background-image: url("../img/banner-login_desktop.jpg");
    }
  }

  .ln-content-create-event {
    background: rgba(227, 96, 57 ,.9);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .wp-logo {
    width: 230px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    @include minw(md) {
      left: 95%;
      width: 320px;
      top: 10%;
      transform: translate(-95%, -10%);
    }

    .img-logo_login {
      height: 100%;
      width: 100%;
    }
  }

  .wp-login {
    position: absolute;
    left: 50%;
    width: 90%;
    top: 75%;
    transform: translate(-50%, -75%);
    @include minw(md) {
      left: 88%;
      width: 350px;
      top: 50%;
      background: #fff;
      /* background: rgba(255,255,255,.5); */
      border-radius: 13px;
      transform: translate(-88%, -50%);
    }

    .title-login {
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      font-size: 1.3em;
      line-height: 1.1em;
      font-weight: 300;
      font-size: 1.4rem;
      @include minw(md) {
        font-size: 1.8em;
        text-align: left;
        margin: 25px 0;
        padding-left: 20px;
      }
    }

    .box-login {
      // background-color: rgba(255, 255, 255, 0.6);
      border-radius: 10px;
      padding: 10px 15px;
      @include minw(md) {
        padding: 20px 20px 40px;
      }

      .title-form {
        color: $blueDark;
        font-size: 1.2em;
        text-align: left;
        margin: 0;
        // font-family: $ff-bold;
        @include minw(md) {
          font-size: 1.8em;
          text-align: left;
        }
      }

      .div-input {
        width: 100%;
        padding: 5px 0;
        outline: none;
        @include minw(md) {
          padding: 10px 0;
        }

        &__tag {
          width: 100%;
          height: 35px;
          padding: 0;
          color: #fff;
          outline: none;
          font-size: 1em;
          padding: 0 1em;
          background: transparent;
          background-color: rgba(255,255,255,0.3);
          border: none;
          /* border: 1px solid #fff; */
          border-radius: 5px;

          &::placeholder {
            color: #fff;
            // padding-left: 20px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            @include minw(md) {
              color: #333;
              font-size: 0.95em;
            }
          }
          @include minw(md) {
            font-size: 1.3em;
            background-color: #f1f1f1;
          }
        }
      }

      .btn-login {
        color: #fff;
        height: 37px;
        line-height: 37px;
        border-radius: 7px;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 1.2em;
        border: none;
        background: #333;
        margin: 5px 0;
        @include minw(md) {
          color: #fff;
          background: #333;
        }
      }
    }
  }

  .wp-socialMedia {
    position: fixed;
    bottom: 2rem;
    width: 100%;

    .list-media {
      padding: 0;
      margin: 0;
      display: inline-block;
      list-style: none;

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .item-media {
      display: inline-block;
      margin: 5px 0;
      padding: 15px;

      .icon-media {
        color: #fff;
        font-size: 1.4em;
        @include minw(md) {
          color: #fff;
  font-size: 1.8em;
        }
      }
    }
  }

  .wp-sumary {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 450px;
    text-align: left;
    transform: translate(-20%, -50%);

    & > p {
      margin: 0 0 10px;
        color: #fff;
        font-size: 1.2em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
    }

    & > h1 {
      margin: 0 0 10px;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 1.2em;
      font-size: 2.5em;
      font-weight: bolder;
    }
  }
}
