$blueDark:#276092;
$blueLight:#00A5CA;
$grayDark:#575655;
$grayLight:#9C9BA0;
$orange:#F6B63E;
$white:#fff;
$black:#1F140F;

$ff-regular:"LatoRegular", sans-serif;
$ff-semibold:"opensans-Semibold", sans-serif;
// $ff-regular:"opensans-Regular", sans-serif;
$ff-light:"opensans-Light", sans-serif;
$border-input:#9C9BA0;

$fz-upper:3.5em;
$fz-title:2em;
$fz-subtitle:1.8em;
$fz-16:1.5em;
$fz-text:1.3em;
$fz-parrafo:1.2em;
$gray1: #B5B5B5;
$gray2: #757574;
$input: #A9A9a9;
